/* Theme Name: Theme Child
Theme URL: http://hostinger-tutorials.com
Description: Child Theme
Author: Elodie Jumel
Author URL: http://hostinger-tutorials.com
Template: SimplonProdThème
Version: 1.0.0
Text Domain: child
Custom CSS goes after this line */

.site-content-contain {
 background-color: #d5ffa0;
 position: relative;
 }